.nav{
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 15px;  
    gap: 3.5rem; 
}

.nav--logo{
    font-size: 1.5rem;
    font-family: var(--fontPopin);
}
.nav--logo a{
    text-decoration: none;
    color: white;
}

.nav--menu{
   display: flex; 
   align-items: center;
   list-style: none;
}

.nav--li{
    font-family: var(--fontM);
    padding: 0 .8rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    color: white;
}
.nav--li a{
    color: white;
    text-decoration: none;
}